              <div class="event">
                <div class="content">
                  <div class="summary">
                    <em><%= @messages.user.username %></em>: <%= @messages.body %>
                  </div>
                </div>
              </div>