                
              <div id="messgaes">
          <div class="event msg ">
                <div class="content">
                  <div class="summary">
                    <em><b><%= message.user.username %></b></em> :<p class="mt-2"><%= message.body %></p>
                  </div>
                </div>
              </div>
              <br><br>
            
</div>

          




